@model EmployeeCreateViewModel
@using SEDCWebApplication.bll.Logic.Models
@{
    ViewBag.Title = "Create Employee";
}

<form enctype="multipart/form-data" asp-controller="employee" asp-action="EmployeeCreate" method="post">
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" placeholder="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Email" placeholder="Email" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Role" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="Role" placeholder="Role" class="form-control" asp-items="Html.GetEnumSelectList<RoleEnum>()">
            </select>
            <span asp-validation-for="Role"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Photo" placeholder="Photo" class="form-control custom-file-input" />
                <label class="custom-file-label">File Upload</label>
            </div>
            <span asp-validation-for="Photo"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <div asp-validation-summary="All" class="text-danger"></div>

    @section Scripts{
        <script src="../wwwroot/js/FileUpload.js"></script>
    }
</form>
