@using WebApplication.BLL.Logic.Models
@model ProductDTO
<div class="container">
    <div class="row">
        <div class="col-4"><img src="~/image/pica.jpg" /></div>
        <div class="col-8"><p>@Model.Description </p> <button class="btn-primary">@Model.Price $</button></div>
    </div>
</div>