@model Product
<div class="container">
    <div class="row">
        <div class="col-4"><img src="~/image/pica.jpg" /></div>
        <div class="col-8"><p>@Model.Descriptpion </p> <button class="btn-primary">@Model.UnitPrice $</button></div>
    </div>
</div>