@model IEnumerable<Customer>

<h1>@ViewBag.Title</h1>

<div class="container">
    <a asp-controller="Customer" asp-action="CustomerCreate">Create New</a>
    <div class="card-columns">
        @foreach (var customer in Model)
        {

            <div class="card card-user">
                <img class="card-img-top" src="~/image/avatar.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title text-black-50">@customer.Name</h4>
                    <p class="card-text text-black-50" ">Some example text some example text. John Doe is an architect and engineer</p>
                    <p class="card-text text-black-50" ">@customer.Email</p>
                    <a asp-controller="Customer" asp-action="CustomerDetails" asp-route-id="@customer.Id">See Profile</a>
                </div>
            </div>
        }
    </div>
</div>