
@model IEnumerable<CustomerDTO>
@{
    ViewData["DisplayBTN"] = true;
}
<h1>@ViewBag.Title</h1>

<div class="container">
    <a asp-controller="Customer" asp-action="CustomerCreate">Create New</a>
    <div class="card-columns">
        @foreach (var customer in Model)
        {
            <partial name="_CustomerPartialView" model="customer" view-data="ViewData" />
        }
    </div>
</div>